<div class="row calendarNav">
    <div class="col-md-3 col-sm-4 col-xs-4">
        <div class="btn-group">
            <button type="button" class="btn btn-info" ng-click="progressViewDate(-1)"><i class="glyphicon glyphicon-triangle-left"></i> </button>
            <button type="button" class="btn btn-info" ng-click="progressViewDate(1)"><i class="glyphicon glyphicon-triangle-right"></i> </button>
            <!--<button type="button" class="btn btn-info btn-arrow-right">Następny</button>-->
        </div>
    </div>
    <div class="col-sm-offset-1 col-md-2 col-sm-2 col-xs-3 col-md-offset-2">
        <span>{{formatDate(calendarDay)}}</span>
    </div>
    <div class="col-md-3 col-md-offset-2 sm-offset-2 col-sm-5 col-xs-5 text-right">

        <div class="btn-group">
            <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'">Dzień</label>
            <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'">Miesiąc</label>
            <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'">Rok</label>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12 text-center">

        <!-- /.row -->
        <mwl-calendar events="events"
                      view="calendarView"
                      view-date=viewDate
                      view-title="calendarTitle"
                      current-day="calendarDay"
                      on-event-click="eventClicked(calendarEvent)"
                      on-add-click="onAddClick(calendarEvent)"
                      ondrilldownclick="onDrillDownClick(calendarEvent)"
                      on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd; eventTimesChanged(calendarEvent);"
                      edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                      delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                      on-edit-event-click="eventEdited(calendarEvent)"
                      on-delete-event-click="eventDeleted(calendarEvent)"
                      cell-is-open="isCellOpen"
                      day-view-start="06:00"
                      day-view-end="22:00"
                      day-view-split="30"
                      cell-modifier="modifyCell(calendarCell)">
        </mwl-calendar>

    </div>
</div>
<div ng-controller="EventDetailsModalController">
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-hide="action !== 'Deleted'">Czy chcesz usunąć wydarzenie?</h3>
            <h3 class="modal-title" ng-hide="action === 'Deleted'">Szeczgóły wydarzenia</h3>
        </div>
        <div class="modal-body">
            <p class="name">Data: <span>{{getFormatedDate(event)}}</span></p>
            <p class="name">Czas trwania: <span>{{ getEventDuration(event)}}</span></p>
            <p class="name">Imię i nazwisko: <span>{{ event.lastName + ', ' + event.firstName}}</span></p>
            <p class="phone">Nr telefonu: <span>{{ event.phone}}</span></p>
            <p class="description">Opis: <span>{{event.description}}</span></p>
            <p class="description">Guid (test): <span>{{event.guid}}</span></p>
        </div>
        <div class="modal-footer">
            <button class="btn " ng-click="$close()" ng-hide="action === 'Deleted'">OK</button>
            <button class="btn " ng-click="handleCloseAction(action)" ng-show="action === 'Deleted'">Tak</button>
            <button class="btn btn-primary" ng-show="action === 'Deleted'" ng-click="$close()">Anuluj</button>
        </div>
    </script>
</div>

<div ng-controller="ModalInstanceController">
    <script type="text/ng-template" id="addEntry.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-show="addNewUserView == false && action === 'Add'">Dodaj wpis do kalendarza</h3>
            <h3 class="modal-title" ng-show="addNewUserView == false && action === 'edit'">Edytuj wpis w kalendarzu</h3>
            <h3 class="modal-title" ng-show="addNewUserView == true">Dodaj nowego pacjenta</h3>
        </div>

        <div class="modal-body">
            <div class="alert alert-danger" role="alert" ng-show="showError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Nie wszystkie pola zostały uzupełnione.
            </div>
            <form role="form" name="eventForm" novalidate ng-submit="ok()">
                <div ng-hide="addNewUserView">
                    <uib-accordion close-others="oneAtATime" ng-model="dt">
                        <uib-accordion-group heading="Data i czas" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <div class=" container-fluid">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-12">
                                        <uib-datepicker min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6">
                                        <div class="form-group">
                                            <label>Początek:</label>
                                            <uib-timepicker ng-model="eventDetails.startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label>Koniec:</label>
                                            <uib-timepicker ng-model="eventDetails.endTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Szczegóły i opis" is-open="false">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="container-fluid">
                                                <div class="row padding">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <textarea id="desc" class="form-control" rows="3" ng-model="eventDetails.description" placeholder="Opis..." ng-required="!addNewUserView"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row" ng-cloak>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <autocomplete on-add="openAddNewUser" id="patient" on-select="onSelectedPatient" ng-model="patientQuery" data="patients"
                                                                      on-type="updatePatients" attr-placeholder="Dane pacienta..." ng-class="spinner" autocomplete-required="!addNewUserView"></autocomplete>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-group>

                    </uib-accordion>
                </div>
                <div class="container-fluid addNewUser" ng-class="{'addNewUser':addNewUserView}" ng-hide="!addNewUserView">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="fname">Imię:</label><br />
                                            <input type="text" name="fname" id="fname" ng-model="newPatient.FirstName" ng-required="addNewUserView" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="lname">Nazwisko:</label><br />
                                            <input type="text" id="lname" ng-model="newPatient.LastName" ng-required="addNewUserView" />
                                        </div>
                                    </div>
                                    <div class="row padding">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label for="phone">Nr telefonu:</label><br />
                                            <input type="tel" id="phone" ng-model="newPatient.PhoneNo" ng-required="addNewUserView" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="showError" ng-hide="addNewUserView"><span>Dodaj</span></button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()" ng-hide="addNewUserView"><span>Anuluj</span></button>

                    <button class="btn btn-primary" type="submit" ng-click="addUser()" ng-disabled="showError" ng-show="addNewUserView"><span>Dodaj</span></button>
                    <button class="btn btn-warning" type="button" ng-click="closeAddNewUser()" ng-show="addNewUserView"><span>Anuluj</span></button>
                </div>
            </form>

        </div>

    </script>

</div>
