<div class="row">
    <div class="col-md-12 text-center">

        <!-- /.row -->
        <mwl-calendar events="events"
                      view="calendarView"
                      view-title="calendarTitle"
                      current-day="calendarDay"
                      on-event-click="eventClicked(calendarEvent)"
                      on-add-click="onAddClick(calendarEvent)"
                      ondrilldownclick="onDrillDownClick(calendarEvent)"
                      on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                      edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                      delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                      on-edit-event-click="eventEdited(calendarEvent)"
                      on-delete-event-click="eventDeleted(calendarEvent)"
                      cell-is-open="isCellOpen"
                      day-view-start="06:00"
                      day-view-end="22:00"
                      day-view-split="30"
                      cell-modifier="modifyCell(calendarCell)">
        </mwl-calendar>

    </div>
</div>

<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Event action occurred!</h3>
    </div>
    <div class="modal-body">
        <p>Action: <pre>{{ vm.action }}</pre></p>
        <p>Event: <pre>{{ vm.event | json }}</pre></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>
</script>

<div ng-controller="ModalInstanceController">
    <script type="text/ng-template" id="addEntry.html">
        <div class="modal-header">
            <h3 class="modal-title">Dodaj wpis do kalendarza</h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-12">
                        <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                        <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
